

img {
    width: 50px;
    justify-content: space-between;

}

#Translation {
    width: 50%;
    height: 450px;
    margin: auto;
    padding: 0;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

#Translation_form {
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h2 {
    text-align: left;
    padding: 20px;
    background-color: #7BA475;
}


#translation_form {
    width: 100%;
    background-color: #7BA475;
    padding: 0;
}

#translation_input {
    padding: 20px;
    height: 60px;
}

#translation_input,
input {
    padding: 8px;
    width: 90%;
    border-radius: 15px;
    margin: auto;
}


#translation_con {
    margin-top: 100px;
    margin-bottom: 20px;
}



#login_Form,
fieldset {
    border: 0;
}

#loginForm {
    width: 80%;
    margin: auto;
    padding: 50px;
    background-color: #7BA475;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

#loginForm,
input {}

#loginTop {
    padding: 20px;
    height: 200px;
    background-color: #7BA475;
}

#lostInTransText {
    font-size: large;
    color: white;
}

#loginText {
    font-size: xx-large;
    margin-left: 10%;
    color: #BEBBBB;
    font-weight: bold;
}

#loginBottom {
    padding: 50px;

}

#loginContainer {
    width: 50%;
    margin: auto;
    margin-top: 10px;

    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 0;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
}

#topdiv {
    margin-top: 20px;
}

#profileimage {
    position: absolute;
    right: 30%;
    top: 20%;
    margin-left: 20px;
    display: inline-block;
    background-color: #569979;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    display: inline;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.1);


}

#profileimage, img {
    padding-left: 3px;
}


#profileHeder,
#clearHistory {

    text-align: center;
    display: inline-block;
    position: absolute;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;

}

#profileHeder {
    background-color: #f44336;
    right: 27%;
    top: 5%;

}

#clearHistory {
    position: absolute; 
    margin: auto;
    right: 27%;
    bottom: 20%;

}


#history_text {
    position: absolute;
    top: 40%;
    left: 37%;
    margin: auto;
    width: 400px;
    height: 27%;
    background-color: #FFF4F4;
    text-align: left;
    padding: 10px;

}

#profileTop{
    height: 200px;
    background-color: #7BA475;
    padding-top: 10px;
    padding-left: 15px;
}

#profileContainer{
    width: 50%;
    margin: auto;
    margin-top: 10px;
    background-image: url(../public/Logo.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 0;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
}
#profileBottom{
    height: 400px;
}